---
import Layout from "../layouts/Layout.astro"
import TechCard from "../components/TechCard.astro"
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";

interface TechItem {
	title: string;
	tech: string[];
}

interface ProjectItem{
	slug: string;
	data: {
		title: string;
		shortDescription: string;
	}
}

const projects: ProjectItem[] = await getCollection("projects");

const techItems: TechItem[] = [
	{
		title: "IA",
		tech: ["Dataflows", "ML Supervisado", "ML No Supervisado", "IA Generative"]
	},
	{
		title: "Desarrollo Web",
		tech: ["HTML", "CSS", "JavaScript", "React", "Node.js", "Express", "Django"]
	},
	{
		title: "Bases de Datos",
		tech: ["SQL", "MongoDB", "Firebase", "SQLite"]
	},
	{
		title: "DevOps",
		tech: ["Docker", "Kubernetes", "GitHub Actions", "GitLab CI"]
	},
	{
		title: "Herramientas",
		tech: ["Git", "GitHub", "GitLab", "VS Code", "Postman", "Insomnia"]
	}
]

---
<Layout title="Uayeb Caballero">
        <section id="about" class="mb-16">
            <h1 class="text-4xl font-bold text-gray-800 mb-4">Sobre Mí</h1>
            <p class="text-gray-600 mb-4">
                Soy un desarrollador web apasionado por crear soluciones innovadoras y eficientes. 
                Me encanta aprender nuevas tecnologías y enfrentar desafíos que me permitan crecer profesionalmente.
            </p>
        </section>

        <section id="technologies" class="mb-16">
            <h2 class="text-3xl font-bold text-gray-800 mb-4">Mis Tecnologías</h2>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-4">

				{ techItems.map( ( item ) => (
					<TechCard title={item.title} tech={ item.tech } />
				) ) }

            </div>
        </section>

        <section id="projects">
            <h2 class="text-3xl font-bold text-gray-800 mb-4">Proyectos Trabajados</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">


				{ projects.map( ( p ) => (
					<ProjectCard 
						title={ p.data.title }
						description={ p.data.shortDescription }
						link={ `/projects/${ p.slug }` }
					/>
				) ) }

            </div>
        </section>
    </main>
</Layout>
