---
---
<nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <div>
                    <a href="/" class="flex items-center py-4 px-2">
                        <span class="font-semibold text-gray-500 text-lg">Uayeb Caballero</span>
                    </a>
                </div>
            </div>
            <div class="hidden md:flex items-center space-x-3">
                <a href="/" class="py-4 px-2 text-gray-500 font-semibold hover:text-light-blue transition duration-300">Inicio</a>
                <a href="about.html" class="py-4 px-2 text-light-blue border-b-4 border-light-blue font-semibold">Sobre Mí</a>
            </div>
        </div>
    </div>
</nav>