---

export interface Props {
    title: string;
    tech: string[];
}

const { title, tech } = Astro.props;

---

<div class="bg-white p-4 rounded shadow">
    <h3 class="font-semibold text-lg mb-2">{title}</h3>
    <ul class="list-disc list-inside text-gray-600">
        { tech.map( ( t ) => ( 
            <li>{ t }</li>
         ) ) }
    </ul>
</div>